@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white transition-colors duration-300;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0b0e14; 
}
::-webkit-scrollbar-thumb {
    background: #222736; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3e4457; 
}

/* Material Symbols Fill Variation */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
